.astroboy-light {
  /* Primary - Red (Astro Boy boots) */
  --md-sys-color-primary: rgb(185 28 28);
  --md-sys-color-surface-tint: rgb(185 28 28);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 218 214);
  --md-sys-color-on-primary-container: rgb(147 0 10);

  /* Secondary - Green (Astro Boy belt) */
  --md-sys-color-secondary: rgb(46 125 50);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(200 230 201);
  --md-sys-color-on-secondary-container: rgb(27 94 32);

  /* Tertiary - Blue Grey (metallic background) */
  --md-sys-color-tertiary: rgb(69 90 100);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(207 216 220);
  --md-sys-color-on-tertiary-container: rgb(38 50 56);

  /* Error */
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);

  /* Background & Surface - Light warm grey */
  --md-sys-color-background: rgb(255 251 250);
  --md-sys-color-on-background: rgb(33 26 25);
  --md-sys-color-surface: rgb(255 251 250);
  --md-sys-color-on-surface: rgb(33 26 25);
  --md-sys-color-surface-variant: rgb(244 222 218);
  --md-sys-color-on-surface-variant: rgb(83 67 64);

  /* Outline */
  --md-sys-color-outline: rgb(133 115 112);
  --md-sys-color-outline-variant: rgb(216 194 190);

  /* Shadow & Scrim */
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);

  /* Inverse */
  --md-sys-color-inverse-surface: rgb(54 47 46);
  --md-sys-color-inverse-on-surface: rgb(251 238 236);
  --md-sys-color-inverse-primary: rgb(255 180 171);

  /* Primary Fixed */
  --md-sys-color-primary-fixed: rgb(255 218 214);
  --md-sys-color-on-primary-fixed: rgb(65 0 3);
  --md-sys-color-primary-fixed-dim: rgb(255 180 171);
  --md-sys-color-on-primary-fixed-variant: rgb(147 0 10);

  /* Secondary Fixed */
  --md-sys-color-secondary-fixed: rgb(200 230 201);
  --md-sys-color-on-secondary-fixed: rgb(0 51 0);
  --md-sys-color-secondary-fixed-dim: rgb(165 214 167);
  --md-sys-color-on-secondary-fixed-variant: rgb(27 94 32);

  /* Tertiary Fixed */
  --md-sys-color-tertiary-fixed: rgb(207 216 220);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 28);
  --md-sys-color-tertiary-fixed-dim: rgb(176 190 197);
  --md-sys-color-on-tertiary-fixed-variant: rgb(38 50 56);

  /* Surface Containers */
  --md-sys-color-surface-dim: rgb(231 215 213);
  --md-sys-color-surface-bright: rgb(255 251 250);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 245 243);
  --md-sys-color-surface-container: rgb(252 239 237);
  --md-sys-color-surface-container-high: rgb(246 233 231);
  --md-sys-color-surface-container-highest: rgb(240 228 225);
}
