.dark-high-contrast {
  --md-sys-color-primary: rgb(210 246 255);
  --md-sys-color-surface-tint: rgb(131 210 227);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(127 206 223);
  --md-sys-color-on-primary-container: rgb(0 13 17);
  --md-sys-color-secondary: rgb(219 245 251);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(174 199 205);
  --md-sys-color-on-secondary-container: rgb(0 13 17);
  --md-sys-color-tertiary: rgb(238 239 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(184 193 231);
  --md-sys-color-on-tertiary-container: rgb(1 9 38);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(14 20 22);
  --md-sys-color-on-background: rgb(222 227 229);
  --md-sys-color-surface: rgb(14 20 22);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 72 74);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(232 242 244);
  --md-sys-color-outline-variant: rgb(187 196 199);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 229);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 80 91);
  --md-sys-color-primary-fixed: rgb(163 238 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(131 210 227);
  --md-sys-color-on-primary-fixed-variant: rgb(0 20 24);
  --md-sys-color-secondary-fixed: rgb(205 231 237);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(178 203 209);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 20 24);
  --md-sys-color-tertiary-fixed: rgb(219 225 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(188 197 235);
  --md-sys-color-on-tertiary-fixed-variant: rgb(6 15 44);
  --md-sys-color-surface-dim: rgb(14 20 22);
  --md-sys-color-surface-bright: rgb(75 81 83);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(27 33 34);
  --md-sys-color-surface-container: rgb(43 49 51);
  --md-sys-color-surface-container-high: rgb(54 60 62);
  --md-sys-color-surface-container-highest: rgb(66 72 73);
}
