.light {
  --md-sys-color-primary: rgb(0 104 119);
  --md-sys-color-surface-tint: rgb(0 104 119);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(163 238 255);
  --md-sys-color-on-primary-container: rgb(0 78 90);
  --md-sys-color-secondary: rgb(74 98 104);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(205 231 237);
  --md-sys-color-on-secondary-container: rgb(51 74 80);
  --md-sys-color-tertiary: rgb(84 93 126);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(219 225 255);
  --md-sys-color-on-tertiary-container: rgb(61 70 101);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(245 250 252);
  --md-sys-color-on-background: rgb(23 29 30);
  --md-sys-color-surface: rgb(245 250 252);
  --md-sys-color-on-surface: rgb(23 29 30);
  --md-sys-color-surface-variant: rgb(219 228 231);
  --md-sys-color-on-surface-variant: rgb(63 72 74);
  --md-sys-color-outline: rgb(111 121 123);
  --md-sys-color-outline-variant: rgb(191 200 203);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 49 51);
  --md-sys-color-inverse-on-surface: rgb(236 242 243);
  --md-sys-color-inverse-primary: rgb(131 210 227);
  --md-sys-color-primary-fixed: rgb(163 238 255);
  --md-sys-color-on-primary-fixed: rgb(0 31 37);
  --md-sys-color-primary-fixed-dim: rgb(131 210 227);
  --md-sys-color-on-primary-fixed-variant: rgb(0 78 90);
  --md-sys-color-secondary-fixed: rgb(205 231 237);
  --md-sys-color-on-secondary-fixed: rgb(5 31 36);
  --md-sys-color-secondary-fixed-dim: rgb(178 203 209);
  --md-sys-color-on-secondary-fixed-variant: rgb(51 74 80);
  --md-sys-color-tertiary-fixed: rgb(219 225 255);
  --md-sys-color-on-tertiary-fixed: rgb(17 26 55);
  --md-sys-color-tertiary-fixed-dim: rgb(188 197 235);
  --md-sys-color-on-tertiary-fixed-variant: rgb(61 70 101);
  --md-sys-color-surface-dim: rgb(213 219 221);
  --md-sys-color-surface-bright: rgb(245 250 252);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 246);
  --md-sys-color-surface-container: rgb(233 239 240);
  --md-sys-color-surface-container-high: rgb(227 233 235);
  --md-sys-color-surface-container-highest: rgb(222 227 229);
}
