@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Exo+2:wght@300;400;500;600&display=swap');

/* Material Design 3 themes */
@import url('../../css/light.css');
@import url('../../css/light-mc.css');
@import url('../../css/light-hc.css');
@import url('../../css/dark.css');
@import url('../../css/dark-mc.css');
@import url('../../css/dark-hc.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

/* Default theme: light */
:root {
  --md-sys-color-primary: rgb(0 104 119);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-background: rgb(245 250 252);
  --md-sys-color-on-background: rgb(23 29 30);
  --md-sys-color-surface: rgb(245 250 252);
  --md-sys-color-on-surface: rgb(23 29 30);
  --md-sys-color-surface-container: rgb(233 239 240);
  --md-sys-color-outline: rgb(111 121 123);
  --md-sys-color-outline-variant: rgb(191 200 203);
}

body {
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #24292f;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
}

input, select, textarea {
  font-family: inherit;
}
